# Postgres Configuration
POSTGRES_DB=mineiq_docs
POSTGRES_USER=mineiq
POSTGRES_PASSWORD=mineiq_pass
POSTGRES_PORT=5432

# MinIO S3 Storage Configuration
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_BUCKET=raw-files

# RabbitMQ Credentials
RABBITMQ_DEFAULT_USER=mineiq
RABBITMQ_DEFAULT_PASS=mineiq_pass
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MGMT_PORT=15672

# Redis Configuration
REDIS_PORT=6379

# Ingestion Service Port
INGESTION_SERVICE_PORT=8000
